    body {
    background-image: url("../img/i.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;}

.html{
	box-sizing:border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

.colunaCartao{
	float: left;
	width: 25%;
	margin-bottom: 15px;
	padding: 0 8px; ;
}

@media screen and (max-width:800px){
}
	.colunaCartao{
	width: 100%;
    display: block;
}

.cartao{
	box-shadow: 0 4px 8px 0 rgb(247, 245, 245);

text-align:white;
}

.textocartao{
	padding: 0 16px;
    padding-bottom: 8px;
}

.textocartao::affter, .linhacartao::after{
	content: "";
	clear: both;
	display: table;
}

.Nasa{
    color:white;

}

.click{
	border:none;
	outline:0;
    display: inline-block;
	padding: 8px;
	color:white;
	background: brown;
	text-align: center;
	cursor: pointer;
    width: 100%;

}
.click:hover{
    background-color:pink;
}




