
        body {
            background-image: url(../img/pinga.jpg);
            background-attachment: fixed;
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: #000;
        }
        
        .btn {
            font-family: arial;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        
        .btn-green {
            background: green;
            color: #fff;
            box-shadow: 0 5px 0 #006000;
        }
        
        .btn-green:hover {
            background: #006000;
            color: #fff;
            box-shadow: 0 5px 0 #006000;
        }
        
        .btn-green:active {
            position: relative;
            top: 5px;
            box-shadow: none;
        }

        .container {
03         width: 100vw;
04         height: 100vh;
05         background: #6C7A89;
06         display: flex;
07         flex-direction: row;
08         justify-content: center;
09         align-items: center
10     }
11     .box {
12         width: 300px;
13         height: 300px;
14         background: #fff;
15     }
16     body {
17        margin: 0px;
18 }